body {
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    z-index: 2;
}


.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__title::after {
    content: "";
    display: block;
    width: 70px;
    height: 1px;

    margin: 70px auto;

    background-color: #fff;
}


.intro__content {
    left: 0;
    right: 0;
    z-index: 2;
}

/* BACKGROUND */

.back {
    z-index: 0;
    background-image: url("images/background.jpg");
    filter: blur(20px);
}

/* HEADER */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
}


/* BUTTON */

.btn {
    display: inline-block;
    vertical-align: top;

    padding: 10px 10px;

    border: 2px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: gold;
}

/* NAVIGATION */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    position: relative;

    color: #fff;
    text-decoration: none;
    transition: color 0.3s linear;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;


    transition: opacity 0.3s linear;
}

.nav__link:hover{
    color: gold;

}

.nav__link:hover::after{
    opacity: 1;
}


/* SECTION */

.section {
    color: black;
    background-color: #fff;
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #333;
}

.section__text {
    font-size: 20px;
    color: #888;
}

/* STATISTICS */

.statistics {
    background-color: #999899;
}

.stat {
    display: flex;

}

.stat__item {
    flex: 1 1 0;
    padding: 40px 15px;

    border-left: 1px solid #fff;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #fff;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 75px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* SERVICES */

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;

    margin-bottom: 70px;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
}

.services__icon {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 3;
}

.services__title {
    margin-bottom: 10px;

    font-size: 16px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 17px;
    color: #333;
}

/* FOOTER */

.footer {
    padding-top: 20px;

    background-color: black;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;

    text-align: center;
}

.footer__logo {
    margin-bottom: 10px;

    font-weight: 700;
    color: white;
}

.footer__links {
    margin-bottom: 25px;
}

.footer__text {
    margin-bottom: 20px;

    font-size: 15px;
    color: white;
}

.footer__links-content {
    color: white;

    font-size: 15px;
}

.footer__links-content a {
    display: inline-block;
    vertical-align: middle;

    font-size: 18px;
    color: white;
    text-decoration: none;
}