<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/home_style.css">
    <title>Cryptosik</title>
</head>
<body>

    <!-- INTRO SECTION START -->

<div class="back"></div>
<div class="intro">
    <div class="intro__content">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="logo"><h2>Cryptosik</h2></div>

                    <nav class="nav">
                        <a class="nav__link" href="#"><h4>Главная</h4></a>
                        <a class="nav__link" href="market"><h4>Маркет</h4></a>
                        <a class="nav__link" href="#"><h4>О нас</h4></a>
                        <a class="nav__link" href="#"><h4>Профиль</h4></a>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Присоединяйтесь&nbsp;и&nbsp;продавайте криптовалюту выгодно!</h1>
            <a class="btn" href="#">Присоединиться</a>
        </div>
    </div>
</div>




    <!-- INTRO SECTION END -->
<section class="section">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">что такое Cryptosik?</h2>
            <div class="section__text">
                <p>Cryptosik - это P2P-маркет для продажи криптовалюты другим пользователям без коммисии. Цена&nbsp;криптовалюты берётся с реальной, наценка полностью отсутствует.</p>
                <p>Присоединяйтесь к нам и покупайте криптовалюту выгодно!</p>
            </div>
        </div>
    </div>
</section>

<div class="statistics">
    <div class="container">
        <div class="stat">
            <div class="stat__item">
                <div class="stat__count">5</div>
                <div class="stat__text">пользователей</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">2</div>
                <div class="stat__text">поддерживаемые криптовалюты</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">28</div>
                <div class="stat__text">совершенных транзакций</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">20+</div>
                <div class="stat__text">поддерживаемых криптовалют в будущем</div>
            </div>
        </div>
    </div>
</div>


<!-- SECTION -->

<section class="section">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Преимущества Cryptosik</h2>
        </div>

        <div class="services">

            <div class="services__item">
                <img class="services__icon" src="static/images/security.png" alt="">
                <div class="services__title"><h4>Безопасность</h4></div>
                <div class="services__text">Все ваши личные данные хранятся в полной безопасности, никто, кроме вас, не имеет к ним доступ.</div>
            </div>

            <div class="services__item">
                <img class="services__icon" src="static/images/up_arrow.png">
                <div class="services__title"><h4>Реальный курс</h4></div>
                <div class="services__text">Курс полностью идентичен настоящему, никаких скрытых процентов и коммисии.</div>
            </div>

            <div class="services__item">
                <img class="services__icon" src="static/images/edit.png">
                <div class="services__title"><h4>Изменяемость данных</h4></div>
                <div class="services__text">Привязанные кошельки можно с лёгкостью изменить, как и большинство других данных.</div>
            </div>
        </div>

        <div class="services">
            <div class="services__item">
                <img class="services__icon" src="static/images/like.png" alt="">
                <div class="services__title"><h4>Высокий рейтинг</h4></div>
                <div class="services__text">Мы&nbsp;переживаем за&nbsp;репутацию&nbsp;и&nbsp;делаем&nbsp;всё, для хорошего рейтинга от наших пользователей.</div>
            </div>

            <div class="services__item">
                <img class="services__icon" src="static/images/time.png">
                <div class="services__title"><h4>Быстрая работа</h4></div>
                <div class="services__text">Публикация на маркете и переводы происходят сразу, без задержек.</div>
            </div>

            <div class="services__item">
                <img class="services__icon" src="static/images/github.png">
                <div class="services__title"><h4>Открытый исходный код</h4></div>
                <div class="services__text">Если у вас есть идеи как можно улучшить Cryptosik вы всегда можете помочь нам в этом!</div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <div class="footer__logo"><h2>Cryptosik</h2></div>
                <div class="footer__text">
                    <p>Тут указаны ссылки, где вы можете нас найти.</p>
                    <p>Спасибо за интерес к проекту!</p>
                </div>
                <div class="footer__links">
                    <div class="footer__links-content">
                        <nav class="nav">
                            <a class="nav__link" href="https://github.com/yaxzo/crypto-web-project" target="_blank">GitHub</a>
                            <a class="nav__link" href="#" target="_blank">Telegram</a>
                            <a class="nav__link" href="#" target="_blank">VK</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>